@import url(../../styles/colors.css);

.btn {
  font-family: var(--main-font);
  padding: 1rem 1.5rem;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.875rem;
  transition:
    background-color 0.1s ease-in,
    color 0.1s ease-in;

  &.primary {
    background-color: var(--c-01);
    color: var(--c-13);

    &:hover {
      background-color: var(--c-02);
    }
  }

  &.soft {
    background-color: var(--c-14);
    color: var(--c-07);

    &:hover {
      background-color: var(--c-05);
    }
  }

  &.dimmed {
    background-color: var(--c-15);
    color: var(--c-06);

    &:hover {
      background-color: var(--c-08);
    }
  }

  &.danger {
    background-color: var(--c-09);
    color: var(--c-13);

    &:hover {
      background-color: var(--c-10);
    }
  }

  &.plain {
    background: none;
    color: var(--c-08);
    &:hover {
      color: var(--c-02);
    }
  }
}

// dark mode
html.dark {
  .btn {
    &.soft {
      background-color: var(--c-04);
      color: var(--c-05);
      &:hover {
        background-color: var(--c-13);
        color: var(--c-07);
      }
    }

    &.dimmed {
      background-color: var(--c-15);
      color: var(--c-05);
      &:hover {
        background-color: var(--c-03);
        color: var(--c-05);
      }
    }

    &.plain {
      color: var(--c-13);
      &:hover {
        color: var(--c-02);
      }
    }
  }
}
