@import url(../../styles/colors.css);
@import url(../../styles/keyframes.css);

.btn {
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  font-family: var(--main-font);
  padding: 1rem 1.5rem;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.875rem;
  transition:
    background-color 0.1s ease-in,
    color 0.1s ease-in;

  // color variants
  &.primary {
    background-color: var(--c-01);
    color: var(--c-13);

    &:not([disabled]):hover {
      background-color: var(--c-02);
    }
  }

  &.soft {
    background-color: var(--c-14);
    color: var(--c-07);

    &:not([disabled]):hover {
      background-color: var(--c-05);
    }
  }

  &.dimmed {
    background-color: var(--c-15);
    color: var(--c-06);

    &:not([disabled]):hover {
      background-color: var(--c-08);
    }
  }

  &.danger {
    background-color: var(--c-09);
    color: var(--c-13);

    &:not([disabled]):hover {
      background-color: var(--c-10);
    }
  }

  &.plain {
    background: none;
    color: var(--c-08);
    &:not([disabled]):hover {
      color: var(--c-02);
    }
  }

  // with start icon
  &.with-start-icon {
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;

    .start-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      transition:
        background-color 0.1s ease-in,
        color 0.1s ease-in;
    }

    &.primary {
      .start-icon {
        background-color: var(--c-13);
        color: var(--c-01);
      }
    }

    &.soft {
      .start-icon {
        background-color: var(--c-11);
        color: var(--c-07);
      }
    }

    &.dimmed {
      .start-icon {
        background-color: var(--c-11);
        color: var(--c-06);
      }
    }

    &.danger {
      .start-icon {
        background-color: var(--c-13);
        color: var(--c-09);
      }

      &:hover {
        .start-icon {
          color: var(--c-10);
        }
      }
    }

    &.plain {
      .start-icon {
        color: var(--c-08);
      }

      &:hover {
        .start-icon {
          color: var(--c-02);
        }
      }
    }
  }

  // loading
  .loading {
    animation: scaleIn 0.13s ease-in;
    .spinner {
      animation: spin 1s linear infinite;
    }
  }

  // disabled
  &:disabled {
    opacity: 70%;
  }
}

// dark mode
html.dark {
  .btn {
    &.soft {
      background-color: var(--c-04);
      color: var(--c-05);
      &:not([disabled]):hover {
        background-color: var(--c-13);
        color: var(--c-07);
      }
    }

    &.dimmed {
      background-color: var(--c-15);
      color: var(--c-05);
      &:not([disabled]):hover {
        background-color: var(--c-03);
        color: var(--c-05);
      }
    }

    &.plain {
      color: var(--c-13);
      &:not([disabled]):hover {
        color: var(--c-02);
      }
    }

    &.with-start-icon {
      &.plain {
        .start-icon {
          color: var(--c-13);
        }

        &:not([disabled]):hover {
          .start-icon {
            color: var(--c-02);
          }
        }
      }
    }
  }
}
