@import url(colors);
@import url(typography);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--c-11);
  color: var(--c-08);
  transition:
    background-color 0.1s ease-in,
    color 0.1s ease-in;
}

:root.dark body {
  background-color: var(--c-12);
  color: var(--c-13);
}
